.idea
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
*.iml
*.ipr
*.iws
build
.gradle
.classpath
atlassian-ide-plugin.xml
.DS_Store
.project
.settings/
.vscode/
.nova
.playwright-mcp/
.grails-static-website-clone/
_static-website-pr/
.grails-static-website-clone/
_static-website-pr/
