<header class='main-header'>
    <div class='content'>
        <a href='https://grails.apache.org/index.html'><img class='grails-logo' src='https://grails.apache.org/images/grails_logo.svg' alt='Grails Logo'/></a>
        <a href='javascript:show("top-menus", "show-navigation-link")' id='show-navigation-link'
           class='mobile align-center'>Show Navigation</a>
        <div id='top-menus'>
            <nav class='secondary-menu' id='secondary-menu'>
                <ul>
                    <li><a href='https://grails.apache.org/casestudies/index.html'>Case Studies</a></li>
                    <li><a href='https://grails.apache.org/blog/index.html'>Blog</a></li>
                    <li><a href='https://grails.apache.org/learning.html'>Learning</a></li>
                    <li><a href='https://grails.apache.org/community.html'>Community</a></li>
                    <li><a href='https://grails.apache.org/search.html'>Search</a></li>
                </ul>
            </nav>
            <nav class='main-menu' id='main-menu'>
                <ul>
                    <li><a href='https://grails.apache.org/documentation.html'>Documentation</a></li>
                    <li><a href='https://grails.apache.org/download.html'>Download</a></li>
                    <li><a href='https://grails.apache.org/plugins.html'>Plugins</a></li>
                    <li><a href='https://grails.apache.org/guides'>Guides</a></li>
                    <li><a href='https://grails.apache.org/faq.html'>FAQ</a></li>
                    <li><a href='https://grails.apache.org/support.html'>Support</a></li>
                    <li><a href='https://start.grails.org'>Forge App</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
