<footer>
    <div class='content'>
        <div class='apache-grails'>
            <p>Apache Grails is supported by the Apache Software Foundation and the Grails community.</p>
            <a href='https://apache.org'><img src='https://www.apache.org/img/asf_logo.png' width='200px' alt='Apache Software Foundation'/></a>
            <p>Apache, Apache Grails, Grails, Groovy, and the ASF logo are either registered trademarks or trademarks of The Apache Software Foundation.</p>
        </div>
        <nav class='social-media-nav'>
            <ul>
                <li><a href='mailto:dev@grails.apache.org'><img src='https://grails.apache.org/images/email.svg' alt='Email Icon'/></a></li>
                <li><a href='https://slack.grails.org'><img src='https://grails.apache.org/images/slack.svg' alt='Slack Icon'/></a></li>
                <li><a href='https://www.youtube.com/@GrailsFramework'><img src='https://grails.apache.org/images/youtube.svg' alt='Youtube Icon'/></a></li>
                <li><a href='https://bsky.app/profile/grails.apache.org'><img src='https://grails.apache.org/images/bsky.svg' alt='Bluesky Icon'/></a></li>
                <li><a rel="me" href="https://fosstodon.org/@grails"><img src='https://grails.apache.org/images/mastodont.svg' alt='Mastodont Icon'/></a></li>
                <li><a href='https://www.linkedin.com/showcase/official-grails/'><img src='https://grails.apache.org/images/linkedin.svg' alt='LinkedIn Icon'/></a></li>
                <li><a href='https://github.com/apache/grails-core'><img src='https://grails.apache.org/images/github.svg' alt='Github Icon'/></a></li>
                <li><a href='https://twitter.com/grailsframework'><img src='https://grails.apache.org/images/x-twitter.svg' alt='Twitter Icon'/></a></li>
            </ul>
        </nav>
    </div>
    <div class='footer-bottom'>
        <p>&copy; 2005-2026 the Apache Grails project</p>
        <p>Grails is Open Source:
            <a href='https://www.apache.org/licenses/'>License</a>,
            <a href='https://privacy.apache.org/policies/privacy-policy-public.html'>Privacy Policy</a>,
            <a href='https://www.apache.org/foundation/sponsorship'>Sponsor Apache</a>,
            <a href='https://www.apache.org/events/current-event'>Events</a>,
            <a href='https://www.apache.org/security'>Security</a>,
            <a href='https://www.apache.org/foundation/thanks.html'>Thanks</a>,
            <a href='https://grails.apache.org/support-schedule.html'>Support Schedule</a>
        </p>
    </div>
</footer>
